body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;

}


h1, h2, h3, h4, h5 {
    line-height: 1.5;
    font-weight: 300;
    margin: 0.5em 0;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
}

.flex .logo img {
    height: 50px;
    width: 200px;
    margin-left: -30px;
}

header {
    background-color: black;
    padding: 10px 0px;
    border-bottom: 3px solid white;
    width: 100%;
}

.top-menu {
    background-color: transparent;
    border: 1px solid #FFB320;
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    display: none;
}

.top-menu .strip {
    display: block;
    height: 1px;
    background-color: #FFB320;
    margin: 4px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
}

nav ul li {
    display: inline-block;
    font-size: 1em;
    margin: 0 18px;
}

nav ul li a {
    color: #eee;
    font-weight: 600;
}

nav ul li a:hover {
    text-shadow: 0 0 3px white, 0 0 5px grey;
}

.log-reg{
     transform: skew(-20deg);
     margin-top: 15px;
}


.login-register-button {
    background-color: white;
    color: #131313;
    padding: 10px 15px;
    font-size: 0.85em;
    font-weight: 600;
}

.login-register-button:hover{
    box-shadow: 0 0 3px white, 0 0 5px grey;
}

.skew-fix{
    transform: skew(20deg);
    display:inline-block;
}

/*1st section*/

#background-image {
    background: url(images/home-background.jpg) top center no-repeat fixed;
    height: 800px;
    margin-top: -20px;
    background-size: cover;
}

.title1 h1{
    text-align: center;
    padding-top: 250px;
    text-shadow: 0 0 3px black, 0 0 5px grey;
    color: white;
    font-size: 2.5em;
}

.title1 h2{
    text-align: center;
    text-shadow: 0 0 3px white, 0 0 5px grey;
    color: white;
}

/* game intro */

#game-intro{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(41,47,39,1) 67%, rgba(10,11,9,1) 100%);
    margin-top: -20px;
    height: 1700px;
    box-shadow: 0 0 35px black;
}

#game-intro h1{
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 900;
    text-shadow: 0 0 5px white, 0 0 10px grey;
}

#game-intro img{
    height: 400px;
    width: 650px;
    box-shadow: 0px 0px 15px #fff;
}

#game-intro h2{
    height: 400px;
    width: 650px;
    color: white;
    font-size: 20px;
}

#game-intro h2 span{
    font-weight: 900;
    font-size: 30px;
    text-shadow: 0 0 5px white, 0 0 10px grey;
}

.row1{
    display: flex;
    justify-content: space-between;
    margin: 55px;
    max-width: 1500px;
}

.row2{
    display: flex;
    justify-content: space-between;
    margin: 55px;
    max-width: 1500px;
}

.row3{
    display: flex;
    justify-content: space-between;
    margin: 55px;
    max-width: 1500px;
}

/*image slider*/

#char-image-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: -65px;
    background-image: url(images/img-slider-background.jpg);
    box-shadow: 0 0 35px black;
}

.c {
    min-width: 700px;
    width: 700px;
    height: 500px;
    border-radius: 12px;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: 0 8px 48px 2px hsla(10 6% 15% / .4);
    display: flex;
    align-items: flex-end;
    justify-content: center; 
    position: relative;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}
  
.ci {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    transform-origin: left 50%;
    background: inherit;  
    z-index: var(--z);
    transition: .3s ease-out;
  }
  
.ci img {
    margin-top: 15px;
    user-select: none;
    height: 450px;
    width: 350px;
  }
  
.ch {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 3px black, 0 0 5px grey;
    word-spacing: 5px;
    text-align: center;
    margin-right: 50px;
    }

.ch span{
    font-size: 15px;
}
  
.c input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -10;
}
  
.c  label {
    width: 10%;
    height: 10px;
    margin-right: 4px;
    border-radius: 20px;
    background: hsla(0 0% 0% / .3);
    cursor: pointer;  
    position: relative;
    z-index: 10;
}
  
label:last-child {
    margin-right: 0;
}
  
input:checked+label {
    background: whitesmoke;
    opacity: 0.3;
}

input:not(:checked)+label+.ci {
    transform: translateX(-100%);
    opacity: 0;
}
  
input:checked+label+.ci~.ci {
    transform: translateX(100%);
}
  
input:not(:checked)+label+.ci {
    transition: 0;
}

/* footer */

footer{
    background-color: black;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: white;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    margin-right: 60px;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: white;
}

.socials a img{
    height: 30px;
    width: 30px;
    padding-left: 10px;
}

.footer-bottom{
    background: black;
    width: 100w;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}


/* register*/

.reg-page{
    height: 600px;
}

.reg-box{
    width: 600px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;

}

.reg-box h1{
    text-align: center;
    font-size: 25px;
}
.reg-box h2{
    margin-top: 40px;
    font-size: 15px;
}
.reg-box .reg-name input{
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
    margin-top: 25px;
}

.reg-box h3{
    margin-top: 15px;
    font-size: 15px;
}

.reg-box .reg-email input{
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
    margin-top: 25px;
}

.reg-box h4{
    margin-top: 15px;
    font-size: 15px;
}

.reg-box .reg-gender input{
    margin-top: 15px;
}

.reg-box h5{
    margin-top: 15px;
    font-size: 15px;
}

.reg-box .reg-city select{
    margin-top: 15px;
    width: 100%;
}

.reg-box h6{
    margin-top: 15px;
    font-size: 15px;
}

.reg-box .reg-adress textarea{
    margin-top: 15px;
    width: 100%;
}

.reg-box .reg-button .container{
    text-align: center;
}

.reg-box .reg-button button{
    margin-top: 30px;
    background-color: black;
    color: white;
    font-size: 10px;
    height: 20px;
    width: 60px;
    border: none;
}

.reg-box .reg-button button:hover{
    text-shadow: 0 0 3px white, 0 0 5px grey;
}

/* login */

.login-box{
    margin-top: 300px;
    margin-bottom: -320px;
    width: 380px;
    height: 480px;
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.login-box h1{
    margin-top: 50px;
    font-size: 25px;
}

.login-box h2{
    margin-top: 15px;
    font-size: 13px;
}

.login-box .form-email input{
    margin-top: 15px;
    border: none;
    border-bottom: 2px solid black;
}

.login-box h3{
    margin-top: 15px;
    font-size: 13px;
}

.login-box .form-password input{
    margin-top: 15px;
    border: none;
    border-bottom: 2px solid black;
}

.login-box .log-button button{
    margin-top: 10px;
    background-color: black;
    color: white;
    font-size: 10px;
    height: 20px;
    width: 50px;
    border: none;
}

.login-box .log-button button:hover{
    text-shadow: 0 0 3px white, 0 0 5px grey;
}

.login-box h4{
    margin-top: 15px;
    font-size: 12px;
}

/* gallery*/

.gallery-page-background{
    background: black;
    padding-top: 50px;
}

.gallery-body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.slider{
    width: 800px;
    height: 500px;
    overflow: hidden;
    margin-left: 380px;
    box-shadow: 0 0 35px gray;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: white;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: white;
}


/* character page */

.body-content {
    display: flex;
    background-image: url(images/char-page-wallpaper.jpg);
    background-size: auto;
    flex-direction: column;
    color: black;
}

.body-content h1 {
    text-align: center;
    text-shadow: 0 0 3px white, 0 0 5px grey;
    font-weight: bold;
}

.content-image {
    flex-direction: column;
    text-align: left;
}

.content-image h2 {
    padding: 50px;
    font-weight: bold;
    text-shadow: 0 0 3px white, 0 0 5px grey;
}

.char1 {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.char1 p {
    font-size: 20px;
}

.char1 img {
    width: 300px;
    height: 400px;
}

.bar-character {
    width: 50%;
    border-radius: 10px;
}

.skill {
    background-color: rgb(101, 175, 78);
    padding: 0%;
    text-align: right;
    font-size: 10px;
    border-radius: 10px;
    color: white;
}

.hp1 {
    width: 65%;
}

.speed1 {
    width: 45%;
}

.attack1 {
    width: 50%
}

.defence1 {
    width: 60%;
}

.hp2 {
    width: 50%;
}

.speed2 {
    width: 55%;
}

.attack2 {
    width: 80%
}

.defence2 {
    width: 35%;
}

.hp3 {
    width: 55%;
}

.speed3 {
    width: 70%;
}

.attack3 {
    width: 65%
}

.defence3 {
    width: 40%;
}

.hp4 {
    width: 70%;
}

.speed4 {
    width: 50%;
}

.attack4 {
    width: 85%
}

.defence4 {
    width: 45%;
}